<app-center>
  <app-navigation></app-navigation>

  <section class="ui grid" style="margin-top: 5px;">
    <div class="ui four wide column">
      <app-usercard *ngIf="user" (followButtonEvent)="updateUser()"
        [user]="user" [showButton]="showButton" [isFollowing]="isFollowing" ></app-usercard>

      <article class="ui segment d3-graph">
        <h3><i class="share alternate icon"></i>Social Graph</h3>
        <app-social-graph [data]="socialGraph"></app-social-graph>
      </article>
    </div>
    <div class="ui twelve wide column" *ngIf="user">
      <app-timeline (removeEvent)="removeTweet($event)" [tweets]="tweets" [showRemove]="showRemove"
                    [title]="user.displayname + '\'s Tweets'"  icon="comment">
        <article class="ui clearing segment" *ngIf="!showButton && loggedInUser">
          <form [formGroup]="tweetForm" (ngSubmit)="onSubmit()" class="ui form" novalidate>
            <textarea rows="3" placeholder="Tweet... (max. 140 chars)" maxlength="140" formControlName="text" style="resize: none"></textarea>
            <div class="ui bottom right attached label" style="font-size: 1em;">
              {{tweetForm.get('text').value.length}} / 140
            </div>

            <div style="margin-top: 10px;"></div>

            <label for="image-input">
              <span class="ui right labeled left floated icon button">
                Choose File
                <i class="file icon"></i>
              </span>
            </label>
            <input type="file" #image id="image-input" (change)="updateFileDisplay($event)" style="display: none" />
            <span>{{fileName}}</span>

            <button class="ui orange labeled right floated icon button" [class.loading]="tweetProcessing">
              Submit
              <i class="send outline icon"></i>
            </button>
          </form>
        </article>
      </app-timeline>
    </div>
  </section>
</app-center>
