<app-background>
  <app-center style="display: flex; justify-content: center; flex-direction: column; height: 60%;">
    <div class="ui centered grid">
      <div class="ui row">
        <div class="six wide column">
          <h1 style="text-align: center; color: white;">Tweetr - The Next Big Thing</h1>
        </div>
      </div>
      <div class="ui row">
        <div class="two wide column">
          <a class="ui orange button" routerLink="/login" style="width: 100%;">Log in</a>
        </div>
        <div class="two wide column">
          <a class="ui orange button" routerLink="/signup" style="width: 100%;">Sign up</a>
        </div>
      </div>
    </div>
  </app-center>
</app-background>
