<div class="ui error message" *ngIf="isFormInvalid() || message">
  <ul class="list">
    <li *ngIf="message">{{message}}</li>
    <li *ngIf="isFieldInvalid('username')">The username is invalid!</li>
    <li *ngIf="isFieldInvalid('displayname')">The display name is invalid!</li>
    <li *ngIf="isFieldInvalid('password')">The password is invalid!</li>
    <li *ngIf="isFieldInvalid('passwordConfirm')">The confirm password is invalid!</li>
    <li *ngIf="isPasswordMismatch()">The passwords do not match!</li>
    <li *ngIf="isFieldInvalid('email')">The email address is invalid!</li>
  </ul>
</div>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="ui form" novalidate>
  <div class="field" [ngClass]="{error: isFieldInvalid('username') || message}">
    <label>Username</label>
    <div class="ui labeled input">
      <div class="ui label">
        <i class="at icon" style="margin: 0"></i>
      </div>
      <input type="text" formControlName="username" placeholder='e.g.: "johndoe" (4 - 20 alphanumeric chars)' />
    </div>
  </div>
  <div class="field" [ngClass]="{error: isFieldInvalid('displayname')}">
    <label>Display name</label>
    <div class="ui labeled input">
      <div class="ui label">
        <i class="user icon" style="margin: 0"></i>
      </div>
      <input type="text" formControlName="displayname" placeholder='e.g.: "Mr. Doe" (4 - 40 chars)' />
    </div>
  </div>
  <div class="field" [ngClass]="{error: isFieldInvalid('password') || isPasswordMismatch()}">
    <label>Password</label>
    <div class="ui labeled input">
      <div class="ui label">
        <i class="lock icon" style="margin: 0"></i>
      </div>
      <input type="password" formControlName="password" placeholder='e.g.: "YourSecret" (8 - 40 chars)' />
    </div>
  </div>
  <div class="field" [ngClass]="{error: isFieldInvalid('passwordConfirm') || isPasswordMismatch()}">
    <label>Password (repeated)</label>
    <div class="ui labeled input">
      <div class="ui label">
        <i class="lock icon" style="margin: 0"></i>
      </div>
      <input type="password" formControlName="passwordConfirm" placeholder="Same as Password" />
    </div>
  </div>
  <div class="field" [ngClass]="{error: isFieldInvalid('email') || message}">
    <label>E-Mail</label>
    <div class="ui labeled input">
      <div class="ui label">
        <i class="mail icon" style="margin: 0"></i>
      </div>
      <input type="text" formControlName="email" placeholder='e.g.: "someone@example.com"' />
    </div>
  </div>
  <button type="submit" class="ui orange button" [ngClass]="{loading: processing}" [disabled]="signupForm.invalid" style="width: 100%;">Sign up</button>
</form>
